            <footer class="bg-primary pt120 pb120 pt-xs-40 pb-xs-64">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mb-xs-24 text-center-xs">
                            <div class="inline-block center">
                                <f:format.raw>{footer-logo}</f:format.raw>
                            </div>
                            <div class="inline-block display-block-xs text-center-xs">
                                <h6 class="uppercase mb16">{name}</h6>
                                <span class="sub display-block">{address}</span>
                                <span class="sub display-block">{openning}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 text-center">
                            <h6 class="uppercase">Follow Us</h6>
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="{twitter}" target="_blank">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{facebook}" target="_blank">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{instagram}" target="_blank">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
    </body>
</html>