<body>
    <div class="nav-container">
        <a id="top"></a>
        <nav class="relative image-bg overlay">
            <div class="nav-utility ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4  text-center-xs">
                            <span class="sub">{address}</span>
                        </div>
                        <div class="col-sm-4 text-center">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="{twitter}" target="_blank">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{facebook}" target="_blank">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{instagram}" target="_blank">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <span class="sub">{openning}</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <div class="pt180 pb180 pt-xs-40 pb-xs-16">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="index">
                                <f:format.raw>{mainLogo}</f:format.raw>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <div class="module widget-handle mobile-toggle text-center visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="nav-bar text-center mb-xs-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <ul class="menu inline-block mb-xs-16">
                                <li class="top-link hidden-xs">
                                    <a href="#top" class="inner-link">
                                        <i class="ti-arrow-up"></i> Top</a>
                                </li>
                                <li>
                                    <a href="#about" class="inner-link">About</a>
                                </li>
                                <li>
                                    <a href="#menu" class="inner-link">Menu</a>
                                </li>
                                <li>
                                    <a href="#special" class="inner-link">Special</a>
                                </li>
                                <li>
                                    <a href="#gallery" class="inner-link">Gallery</a>
                                </li>
                                <li>
                                    <a href="#contact" class="inner-link">Contact</a>
                                </li>
                                <li>
                                    <div class="divider hidden-xs"></div>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Demos</a>
                                    <ul class="text-left">
                                        <li>
                                            <a href="index.html">Classic</a>
                                        </li>
                                        <li>
                                            <a href="index-contact-form.html">w/ Form</a>
                                        </li>
                                        <li>
                                            <a href="index-instagram.html">Instagram</a>
                                        </li>
                                        <li>
                                            <a href="index-fullwidth.html">Wide Header</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="news">News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <div class="background-image-holder">
                <f:cObject typoscriptObjectPath="lib.banner" />
            </div>
        </nav>
    </div>