<section class="pb0">
    <div class="container">
        <div class="row  mb64 mb-xs-40">
            <div class="col-sm-12 text-center">
                <div class="ribbon">
                    <h6 class="uppercase mb0">{titre}</h6>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row mb64 mb-xs-40">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <f:format.html>{description}</f:format.html>
            </div>
        </div>
    </div>
</section>