<section class="pb0">
    <div class="container">
        <div class="row image-row">
            <f:for each="{fileObjects}" as="file" key="key">
                <f:cycle values="{0: 'col-sm-4', 1: 'col-sm-8'}" as="cycle">
                    <div class="{cycle}">
                        <div class="background-image-holder">
                            <img alt="Background Image" src="./fileadmin/{key}" />
                        </div>
                    </div>
                </f:cycle>
            </f:for>
        </div>
    </div>
</section>